<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @picture.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture), class: 'btn btn-info' %> |
<%= link_to 'Back', pictures_path, class: 'btn btn-info' %>
